/* TODO: Add sitewide styles */
button {
    color: #0d1016;
    border: 1px solid #0d1016;
    border-radius: 5px;
    padding: 0px 20px;
    background-color: #cccc;
    cursor: pointer;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
}
button:hover {
    box-shadow: 3px 3px 5px 1px rebeccapurple;
}

li {
    list-style-type: none;
}

* {
    font-family: 'Kurale', serif;
    word-break: break-word;
}

h1, h2, h3, h4 {
    font-family:'Roboto', sans-serif;
    /* text-shadow: 1px 1px 2px rgb(120, 93, 199); */
}

hr {
    height: 3px;
    background-color: rgb(120, 93, 199);
    border: none;
}
